<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyPOPv2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD5902EA1BE7C3C900718FD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD5903031BE7C3C900718FD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD59030E1BE7C3C900718FD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
